@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
}

@layer components {
  .btn-default {
    @apply mt-6 w-full  border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium  focus:outline-none focus:ring-2 focus:ring-offset-2;
  }
  .btn-default-color {
    @apply bg-nominee-hover
  }
  .btn-default:hover {
    @apply text-page-font-hover;
  }
  .btn-none {
    cursor: none;
    pointer-events: none;
  }
  .selected-list {
    @apply text-page-font-hover;
  }
}
